<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Swe Voronoi</title>

    <link rel="shortcut icon" href="https://www.viltstigen.se/favicon.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://d3js.org/d3-voronoi.v1.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-delaunay@6"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-geo-voronoi@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-geo@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"
            integrity="sha512-wNH6xsp2n8CfB91nrBtfc4sfLwYPBMjSWVUwQOp60AYYXH6i8yCwuKFZ4rgK2i6pQek/b+bSyR7b01/922IBzQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
<div class="container text-center">
    <h2 id="header"></h2>
    <br><br>
    <hr>

    <div class='row'>
        <div class="col-xs-12 col-lg-6" id="map"></div>
    </div>

    <br><br>
    <hr>
    <footer>
        <p style="font-size:12px">
            Copyright (C) Mats Melander
        </p>
    </footer>
</div>

<script>
    function values(series, key) {
        let max_val = series[key][0].val;
        let min_val = series[key][0].val;
        let stations = [];

        series[key].forEach(function (p) {
            // Note, need to round to 2 decimal to avoid stations beeing very cose to each other,
            // such as "Falsterbo" and "Falsterbo A"
            const lon = Math.round(p.lon * 100) / 100;
            const lat = Math.round(p.lat * 100) / 100
            let found = stations.find(elem => elem.lon === lon) && stations.find(elem => elem.lat === lat);
            if (!found && p.active) {
                stations.push({
                    lon: lon,
                    lat: lat,
                    station: p.station,
                    val: p.val,
                });
                max_val = Math.max(max_val, p.val);
                min_val = Math.min(min_val, p.val);
            }
        });
        return {key: key, stns: stations, max: max_val, min: min_val, date: series.date};
    }

    $(document).ready(function () {
        $.when(
            $.get('clover/files/weather.json'),
            $.get('clover/files/se.json')).done(
            function (data, se) {
                let date = new Date(data[0].date);
                d3.select("#header").text("Temperatures " + date.toLocaleString("sv-SV"));

                let height = width = document.getElementById('map').clientWidth;
                const geojson_swe = topojson.feature(se[0], se[0].objects.subunits);
                let points = values(data[0], 'temp');
                let colorScale = d3.scaleSequential().interpolator(d3.interpolateSpectral).domain([points.max, points.min]);
                let voronoi = d3.geoVoronoi().x(d => d.lon).y(d => d.lat);

                let projection = d3.geoEqualEarth();
                projection.fitSize([width, height], geojson_swe);

                let path = d3.geoPath().projection(projection);

                let svg = d3.select("#map")
                    .append("svg")
                    .style("width", width)
                    .style("height", height);

                svg.append('g').selectAll('path')
                    .data(geojson_swe.features)
                    .join('path')
                    .attr('d', path);

                // Add a clipPath for later usage of the voronoi mapping, used for temperatures
                svg.append('g').selectAll("clip")
                    .data(geojson_swe.features)
                    .enter()
                    .append("defs")
                    .append("clipPath")
                    .attr("id", "swe-clip")
                    .append("path")
                    .attr("d", path);

                // Here is the actual division of Sweden into a Voronoi diagram
                // https://github.com/Fil/d3-geo-voronoi
                svg.append('g').selectAll("voronoi")
                    .data(voronoi(points.stns).polygons().features)
                    .enter()
                    .append("path")
                    .attr("clip-path", "url(#swe-clip)")  // Apply the clipPath, stay within the contours of Sweden
                    .attr("d", path)
                    .style("fill", "white")
                    .style('fill', function (_, i) {
                        return colorScale(points.stns[i].val);
                    })
                    .append("title")  // NB, https://developer.mozilla.org/en-US/docs/Web/SVG/Element/title
                    .text(function (_, i) {
                        return points.stns[i].station + " Temp: " + points.stns[i].val;
                    });

                // https://d3-legend.susielu.com/
                let legend = d3.legendColor()
                    .labelFormat(d3.format(".0f"))
                    .cells(10)
                    .scale(colorScale);

                svg.append("g")
                    .call(legend);
            });
    });
</script>

</body>
</html>